extends layout

block content
  h1= title
  p Welcome to #{title}

  p There are currently #{roomcount} rooms active

  h2 Join a room
  form(method="POST", action="/join", enctype="multipart/form-data")
    // TODO: create join room form
  h2 Create a room
  form(method="POST", action="/newroom", enctype="multipart/form-data")
    // TODO: create create room form
