block content
  form(method="POST", action="/room/join", enctype="multipart/form-data")
    div
        label(for="roomNumber") Room number<br />
        input#roomNumber(name="roomNumber", type="text")
    div
        label(for="username") Username<br />
        input#username(name="username", type="text")
    div
        input(type="submit", value="Join")
