<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    link(rel="stylesheet", href="./css/master.css")
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/master.js" defer></script>

    title= 'Unsolvable'
</head>

<body>
    h1.roomcode= 'ROOMCODE: '
        span#roomcode=  roomcode
    <section id='Gamewindow'></section>
    <div id='Timerwindow'></div>
</body>

</html>