<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    title= title
</head>

<body>
    <div>
        <form method="POST" , action="/join" , enctype="json">
            <p>
                <label for="roomcode">RoomCode</label> <br />
                <input id='roomcode' , name="roomcode" />
            </p>
            <p>
                <label for="username">Username</label> <br />
                <input id='username' , name="username" />
            </p>
            <p>
                <input type="submit" , value="Join" />
            </p>
        </form>
    </div>
    <div>
        <form method="POST" , action="/new" , enctype="json">
            <p>
                <input type="submit" , value="Create" />
            </p>
        </form>
    </div>
</body>

</html>