<form method="POST" , action="/login" , enctype="json">
    <p>
        <label for="email">Email</label> <br />
        <input id='email' , name="email" />
    </p>
    <p>
        <label for="password">password</label> <br />
        <input type='password' id='password' , name="password" />
    </p>
    <p>
        <input type="submit" , value="login" />
    </p>
</form>