<form method="POST" , action="/register" , enctype="json">
- if(err)
    h1= err
    <p>
        <label for="email">Email</label> <br />
        <input id='email' , name="email" />
    </p>
    <p>
        <label for="username">Username</label> <br />
        <input id='username' , name="username" />
    </p>
    <p>
        <label for="password">password</label> <br />
        <input type='password' id='password' , name="password" />
    </p>
    <p>
        <label for="passwordConf">confirm password</label> <br />
        <input type='password' id='passwordConf' , name="passwordConf" />
    </p>
    <p>
        <input type="submit" , value="Register" />
    </p>
</form>